#color{
  color: #3C1C78;
}

input{
  color: #3C1C78;
}

.col{
  width: 250px;
}

.row{
  margin: 0 auto;
}

.card{
  background-color: #f8f4ff;
}

.border{
  border: solid 1px #cccccc;
}

.up{
  position: relative;
  bottom: 10px;
}
